<?xml version="1.0" encoding="UTF-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../EDIConfig.xsd" Version="3">
	<Meta>
		<Release>4010</Release>
		<Agency>X12</Agency>
	</Meta>
	<Format standard="X12"/>
	<Include href="X12.Segment"/>
	<Include href="X12.Codelist"/>
	<Message>
		<MessageType>810</MessageType>
		<Description>Invoice</Description>
		<Group name="Message_810" info="Invoice" maxOccurs="unbounded">
			<Segment ref="ST"/>
			<Segment ref="BIG"/>
			<Segment ref="NTE" minOccurs="0" maxOccurs="100"/>
			<Segment ref="CUR" minOccurs="0"/>
			<Segment ref="REF" minOccurs="0" maxOccurs="12"/>
			<Segment ref="YNQ" minOccurs="0" maxOccurs="10"/>
			<Segment ref="PER" minOccurs="0" maxOccurs="3"/>
			<Group name="LoopN1" maxOccurs="200" minOccurs="0">
				<Segment ref="N1"/>
				<Segment ref="N2" minOccurs="0" maxOccurs="2"/>
				<Segment ref="N3" minOccurs="0" maxOccurs="2"/>
				<Segment ref="N4" minOccurs="0"/>
				<Segment ref="REF" minOccurs="0" maxOccurs="12"/>
				<Segment ref="PER" minOccurs="0" maxOccurs="3"/>
				<Segment ref="DMG" minOccurs="0"/>
			</Group>
			<Segment ref="ITD" minOccurs="0" maxOccurs="unbounded"/>
			<Segment ref="DTM" minOccurs="0" maxOccurs="10"/>
			<Segment ref="FOB" minOccurs="0"/>
			<Segment ref="PID" minOccurs="0" maxOccurs="200"/>
			<Segment ref="MEA" minOccurs="0" maxOccurs="40"/>
			<Segment ref="PWK" minOccurs="0" maxOccurs="25"/>
			<Segment ref="PKG" minOccurs="0" maxOccurs="25"/>
			<Segment ref="L7" minOccurs="0"/>
			<Segment ref="BAL" minOccurs="0" maxOccurs="unbounded"/>
			<Segment ref="INC" minOccurs="0"/>
			<Segment ref="PAM" minOccurs="0" maxOccurs="unbounded"/>
			<Group name="LoopLM" maxOccurs="10" minOccurs="0">
				<Segment ref="LM"/>
				<Segment ref="LQ" maxOccurs="100"/>
			</Group>
			<Group name="LoopN9" minOccurs="0">
				<Segment ref="N9"/>
				<Segment ref="MSG" maxOccurs="10"/>
			</Group>
			<Group name="LoopV1" maxOccurs="unbounded" minOccurs="0">
				<Segment ref="V1"/>
				<Segment ref="R4" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="DTM" minOccurs="0" maxOccurs="unbounded"/>
			</Group>
			<Group name="LoopFA1" maxOccurs="unbounded" minOccurs="0">
				<Segment ref="FA1"/>
				<Segment ref="FA2" maxOccurs="unbounded"/>
			</Group>
			<Group name="LoopIT1" maxOccurs="200000" minOccurs="0">
				<Segment ref="IT1"/>
				<Segment ref="CRC" minOccurs="0"/>
				<Segment ref="QTY" minOccurs="0" maxOccurs="5"/>
				<Segment ref="CUR" minOccurs="0"/>
				<Segment ref="IT3" minOccurs="0" maxOccurs="5"/>
				<Segment ref="TXI" minOccurs="0" maxOccurs="10"/>
				<Segment ref="CTP" minOccurs="0" maxOccurs="25"/>
				<Segment ref="PAM" minOccurs="0" maxOccurs="10"/>
				<Segment ref="MEA" minOccurs="0" maxOccurs="40"/>
				<Group name="LoopPID" maxOccurs="1000" minOccurs="0">
					<Segment ref="PID"/>
					<Segment ref="MEA" minOccurs="0" maxOccurs="10"/>
				</Group>
				<Segment ref="PWK" minOccurs="0" maxOccurs="25"/>
				<Segment ref="PKG" minOccurs="0" maxOccurs="25"/>
				<Segment ref="PO4" minOccurs="0"/>
				<Segment ref="ITD" minOccurs="0" maxOccurs="2"/>
				<Segment ref="REF" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="YNQ" minOccurs="0" maxOccurs="10"/>
				<Segment ref="PER" minOccurs="0" maxOccurs="5"/>
				<Segment ref="SDQ" minOccurs="0" maxOccurs="500"/>
				<Segment ref="DTM" minOccurs="0" maxOccurs="10"/>
				<Segment ref="CAD" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="L7" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="SR" minOccurs="0"/>
				<Group name="LoopSAC" maxOccurs="25" minOccurs="0">
					<Segment ref="SAC"/>
					<Segment ref="TXI" minOccurs="0" maxOccurs="10"/>
				</Group>
				<Group name="LoopSLN" maxOccurs="1000" minOccurs="0">
					<Segment ref="SLN"/>
					<Segment ref="DTM" minOccurs="0"/>
					<Segment ref="REF" minOccurs="0" maxOccurs="unbounded"/>
					<Segment ref="PID" minOccurs="0" maxOccurs="1000"/>
					<Segment ref="SAC" minOccurs="0" maxOccurs="25"/>
					<Segment ref="TC2" minOccurs="0" maxOccurs="2"/>
					<Segment ref="TXI" minOccurs="0" maxOccurs="10"/>
				</Group>
				<Group name="LoopN1" maxOccurs="200" minOccurs="0">
					<Segment ref="N1"/>
					<Segment ref="N2" minOccurs="0" maxOccurs="2"/>
					<Segment ref="N3" minOccurs="0" maxOccurs="2"/>
					<Segment ref="N4" minOccurs="0"/>
					<Segment ref="REF" minOccurs="0" maxOccurs="12"/>
					<Segment ref="PER" minOccurs="0" maxOccurs="3"/>
					<Segment ref="DMG" minOccurs="0"/>
				</Group>
				<Group name="LoopLM" maxOccurs="10" minOccurs="0">
					<Segment ref="LM"/>
					<Segment ref="LQ" maxOccurs="100"/>
				</Group>
				<Group name="LoopV1" maxOccurs="unbounded" minOccurs="0">
					<Segment ref="V1"/>
					<Segment ref="R4" minOccurs="0" maxOccurs="unbounded"/>
					<Segment ref="DTM" minOccurs="0" maxOccurs="unbounded"/>
				</Group>
				<Group name="LoopFA1" maxOccurs="unbounded" minOccurs="0">
					<Segment ref="FA1"/>
					<Segment ref="FA2" maxOccurs="unbounded"/>
				</Group>
			</Group>
			<Segment ref="TDS"/>
			<Segment ref="TXI" minOccurs="0" maxOccurs="10"/>
			<Segment ref="CAD" minOccurs="0"/>
			<Segment ref="AMT" minOccurs="0" maxOccurs="unbounded"/>
			<Group name="LoopSAC" maxOccurs="25" minOccurs="0">
				<Segment ref="SAC"/>
				<Segment ref="TXI" minOccurs="0" maxOccurs="10"/>
			</Group>
			<Group name="LoopISS" maxOccurs="unbounded" minOccurs="0">
				<Segment ref="ISS"/>
				<Segment ref="PID" minOccurs="0"/>
			</Group>
			<Segment ref="CTT" minOccurs="0"/>
			<Segment ref="SE"/>
		</Group>
	</Message>
</Config>