<?xml version="1.0" encoding="UTF-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../EDIConfig.xsd" Version="3">
	<Meta>
		<Release>4010</Release>
		<Agency>X12</Agency>
	</Meta>
	<Format standard="X12"/>
	<Include href="X12.Segment"/>
	<Include href="X12.Codelist"/>
	<Message>
		<MessageType>850</MessageType>
		<Description>Purchase Order</Description>
		<Group name="Message_850" info="Purchase Order" maxOccurs="unbounded">
			<Segment ref="ST"/>
			<Segment ref="BEG"/>
			<Segment ref="CUR" minOccurs="0"/>
			<Segment ref="REF" minOccurs="0" maxOccurs="unbounded"/>
			<Segment ref="PER" minOccurs="0" maxOccurs="3"/>
			<Segment ref="TAX" minOccurs="0" maxOccurs="unbounded"/>
			<Segment ref="FOB" minOccurs="0" maxOccurs="unbounded"/>
			<Segment ref="CTP" minOccurs="0" maxOccurs="unbounded"/>
			<Segment ref="PAM" minOccurs="0" maxOccurs="10"/>
			<Segment ref="CSH" minOccurs="0" maxOccurs="5"/>
			<Segment ref="TC2" minOccurs="0" maxOccurs="unbounded"/>
			<Group name="LoopSAC" maxOccurs="25" minOccurs="0">
				<Segment ref="SAC"/>
				<Segment ref="CUR" minOccurs="0"/>
			</Group>
			<Segment ref="ITD" minOccurs="0" maxOccurs="unbounded"/>
			<Segment ref="DIS" minOccurs="0" maxOccurs="20"/>
			<Segment ref="INC" minOccurs="0"/>
			<Segment ref="DTM" minOccurs="0" maxOccurs="10"/>
			<Segment ref="LDT" minOccurs="0" maxOccurs="12"/>
			<Segment ref="LIN" minOccurs="0" maxOccurs="5"/>
			<Segment ref="SI" minOccurs="0" maxOccurs="unbounded"/>
			<Segment ref="PID" minOccurs="0" maxOccurs="200"/>
			<Segment ref="MEA" minOccurs="0" maxOccurs="40"/>
			<Segment ref="PWK" minOccurs="0" maxOccurs="25"/>
			<Segment ref="PKG" minOccurs="0" maxOccurs="200"/>
			<Segment ref="TD1" minOccurs="0" maxOccurs="2"/>
			<Segment ref="TD5" minOccurs="0" maxOccurs="12"/>
			<Segment ref="TD3" minOccurs="0" maxOccurs="12"/>
			<Segment ref="TD4" minOccurs="0" maxOccurs="5"/>
			<Segment ref="MAN" minOccurs="0" maxOccurs="10"/>
			<Segment ref="PCT" minOccurs="0" maxOccurs="unbounded"/>
			<Segment ref="CTB" minOccurs="0" maxOccurs="5"/>
			<Segment ref="TXI" minOccurs="0" maxOccurs="unbounded"/>
			<Group name="LoopAMT" maxOccurs="unbounded" minOccurs="0">
				<Segment ref="AMT"/>
				<Segment ref="REF" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="DTM" minOccurs="0"/>
				<Segment ref="PCT" minOccurs="0" maxOccurs="unbounded"/>
				<Group name="LoopFA1" maxOccurs="unbounded" minOccurs="0">
					<Segment ref="FA1"/>
					<Segment ref="FA2" maxOccurs="unbounded"/>
				</Group>
			</Group>
			<Group name="LoopN9" maxOccurs="1000" minOccurs="0">
				<Segment ref="N9"/>
				<Segment ref="DTM" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="MSG" minOccurs="0" maxOccurs="1000"/>
			</Group>
			<Group name="LoopN1" maxOccurs="200" minOccurs="0">
				<Segment ref="N1"/>
				<Segment ref="N2" minOccurs="0" maxOccurs="2"/>
				<Segment ref="N3" minOccurs="0" maxOccurs="2"/>
				<Segment ref="N4" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="NX2" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="REF" minOccurs="0" maxOccurs="12"/>
				<Segment ref="PER" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="SI" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="FOB" minOccurs="0"/>
				<Segment ref="TD1" minOccurs="0" maxOccurs="2"/>
				<Segment ref="TD5" minOccurs="0" maxOccurs="12"/>
				<Segment ref="TD3" minOccurs="0" maxOccurs="12"/>
				<Segment ref="TD4" minOccurs="0" maxOccurs="5"/>
				<Segment ref="PKG" minOccurs="0" maxOccurs="200"/>
			</Group>
			<Group name="LoopLM" maxOccurs="unbounded" minOccurs="0">
				<Segment ref="LM"/>
				<Segment ref="LQ" maxOccurs="unbounded"/>
			</Group>
			<Group name="LoopSPI" maxOccurs="unbounded" minOccurs="0">
				<Segment ref="SPI"/>
				<Segment ref="REF" minOccurs="0" maxOccurs="5"/>
				<Segment ref="DTM" minOccurs="0" maxOccurs="5"/>
				<Segment ref="MSG" minOccurs="0" maxOccurs="50"/>
				<Group name="LoopN1" maxOccurs="20" minOccurs="0">
					<Segment ref="N1"/>
					<Segment ref="N2" minOccurs="0" maxOccurs="2"/>
					<Segment ref="N3" minOccurs="0" maxOccurs="2"/>
					<Segment ref="N4" minOccurs="0"/>
					<Segment ref="REF" minOccurs="0" maxOccurs="20"/>
					<Segment ref="G61" minOccurs="0"/>
					<Segment ref="MSG" minOccurs="0" maxOccurs="50"/>
				</Group>
				<Group name="LoopCB1" maxOccurs="unbounded" minOccurs="0">
					<Segment ref="CB1"/>
					<Segment ref="REF" minOccurs="0" maxOccurs="20"/>
					<Segment ref="DTM" minOccurs="0" maxOccurs="5"/>
					<Segment ref="LDT" minOccurs="0"/>
					<Segment ref="MSG" minOccurs="0" maxOccurs="50"/>
				</Group>
			</Group>
			<Group name="LoopADV" maxOccurs="unbounded" minOccurs="0">
				<Segment ref="ADV"/>
				<Segment ref="DTM" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="MTX" minOccurs="0" maxOccurs="unbounded"/>
			</Group>
			<Group name="LoopPO1" maxOccurs="100000">
				<Segment ref="PO1"/>
				<Segment ref="LIN" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="SI" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="CUR" minOccurs="0"/>
				<Segment ref="CN1" minOccurs="0"/>
				<Segment ref="PO3" minOccurs="0" maxOccurs="25"/>
				<Group name="LoopCTP" maxOccurs="unbounded" minOccurs="0">
					<Segment ref="CTP"/>
					<Segment ref="CUR" minOccurs="0"/>
				</Group>
				<Segment ref="PAM" minOccurs="0" maxOccurs="10"/>
				<Segment ref="MEA" minOccurs="0" maxOccurs="40"/>
				<Group name="LoopPID" maxOccurs="1000" minOccurs="0">
					<Segment ref="PID"/>
					<Segment ref="MEA" minOccurs="0" maxOccurs="10"/>
				</Group>
				<Segment ref="PWK" minOccurs="0" maxOccurs="25"/>
				<Segment ref="PO4" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="REF" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="PER" minOccurs="0" maxOccurs="3"/>
				<Group name="LoopSAC" maxOccurs="25" minOccurs="0">
					<Segment ref="SAC"/>
					<Segment ref="CUR" minOccurs="0"/>
					<Segment ref="CTP" minOccurs="0"/>
				</Group>
				<Segment ref="IT8" minOccurs="0"/>
				<Segment ref="CSH" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="ITD" minOccurs="0" maxOccurs="2"/>
				<Segment ref="DIS" minOccurs="0" maxOccurs="20"/>
				<Segment ref="INC" minOccurs="0"/>
				<Segment ref="TAX" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="FOB" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="SDQ" minOccurs="0" maxOccurs="500"/>
				<Segment ref="IT3" minOccurs="0" maxOccurs="5"/>
				<Segment ref="DTM" minOccurs="0" maxOccurs="10"/>
				<Segment ref="TC2" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="TD1" minOccurs="0"/>
				<Segment ref="TD5" minOccurs="0" maxOccurs="12"/>
				<Segment ref="TD3" minOccurs="0" maxOccurs="12"/>
				<Segment ref="TD4" minOccurs="0" maxOccurs="5"/>
				<Segment ref="PCT" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="MAN" minOccurs="0" maxOccurs="10"/>
				<Segment ref="MSG" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="SPI" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="TXI" minOccurs="0" maxOccurs="unbounded"/>
				<Segment ref="CTB" minOccurs="0" maxOccurs="unbounded"/>
				<Group name="LoopQTY" maxOccurs="unbounded" minOccurs="0">
					<Segment ref="QTY"/>
					<Segment ref="SI" minOccurs="0" maxOccurs="unbounded"/>
				</Group>
				<Group name="LoopSCH" maxOccurs="200" minOccurs="0">
					<Segment ref="SCH"/>
					<Segment ref="TD1" minOccurs="0" maxOccurs="2"/>
					<Segment ref="TD5" minOccurs="0" maxOccurs="12"/>
					<Segment ref="TD3" minOccurs="0" maxOccurs="12"/>
					<Segment ref="TD4" minOccurs="0" maxOccurs="5"/>
					<Segment ref="REF" minOccurs="0" maxOccurs="unbounded"/>
				</Group>
				<Group name="LoopPKG" maxOccurs="200" minOccurs="0">
					<Segment ref="PKG"/>
					<Segment ref="MEA" minOccurs="0" maxOccurs="unbounded"/>
				</Group>
				<Segment ref="LS" minOccurs="0"/>
				<Group name="LoopLDT" maxOccurs="unbounded" minOccurs="0">
					<Segment ref="LDT"/>
					<Segment ref="QTY" minOccurs="0" maxOccurs="unbounded"/>
					<Segment ref="MSG" minOccurs="0"/>
					<Segment ref="REF" minOccurs="0" maxOccurs="3"/>
					<Group name="LoopLM" maxOccurs="unbounded" minOccurs="0">
						<Segment ref="LM"/>
						<Segment ref="LQ" maxOccurs="unbounded"/>
					</Group>
				</Group>
				<Segment ref="LE" minOccurs="0"/>
				<Group name="LoopN9" maxOccurs="1000" minOccurs="0">
					<Segment ref="N9"/>
					<Segment ref="DTM" minOccurs="0" maxOccurs="unbounded"/>
					<Segment ref="MEA" minOccurs="0" maxOccurs="40"/>
					<Segment ref="MSG" minOccurs="0" maxOccurs="1000"/>
				</Group>
				<Group name="LoopN1" maxOccurs="200" minOccurs="0">
					<Segment ref="N1"/>
					<Segment ref="N2" minOccurs="0" maxOccurs="2"/>
					<Segment ref="N3" minOccurs="0" maxOccurs="2"/>
					<Segment ref="N4" minOccurs="0"/>
					<Segment ref="QTY" minOccurs="0" maxOccurs="unbounded"/>
					<Segment ref="NX2" minOccurs="0" maxOccurs="unbounded"/>
					<Segment ref="REF" minOccurs="0" maxOccurs="12"/>
					<Segment ref="PER" minOccurs="0" maxOccurs="3"/>
					<Segment ref="SI" minOccurs="0" maxOccurs="unbounded"/>
					<Segment ref="DTM" minOccurs="0"/>
					<Segment ref="FOB" minOccurs="0"/>
					<Segment ref="SCH" minOccurs="0" maxOccurs="200"/>
					<Segment ref="TD1" minOccurs="0" maxOccurs="2"/>
					<Segment ref="TD5" minOccurs="0" maxOccurs="12"/>
					<Segment ref="TD3" minOccurs="0" maxOccurs="12"/>
					<Segment ref="TD4" minOccurs="0" maxOccurs="5"/>
					<Segment ref="PKG" minOccurs="0" maxOccurs="200"/>
					<Group name="LoopLDT" maxOccurs="unbounded" minOccurs="0">
						<Segment ref="LDT"/>
						<Segment ref="MAN" minOccurs="0" maxOccurs="10"/>
						<Segment ref="QTY" minOccurs="0" maxOccurs="5"/>
						<Segment ref="MSG" minOccurs="0"/>
						<Segment ref="REF" minOccurs="0" maxOccurs="3"/>
					</Group>
				</Group>
				<Group name="LoopSLN" maxOccurs="1000" minOccurs="0">
					<Segment ref="SLN"/>
					<Segment ref="MSG" minOccurs="0" maxOccurs="unbounded"/>
					<Segment ref="SI" minOccurs="0" maxOccurs="unbounded"/>
					<Segment ref="PID" minOccurs="0" maxOccurs="1000"/>
					<Segment ref="PO3" minOccurs="0" maxOccurs="104"/>
					<Segment ref="TC2" minOccurs="0" maxOccurs="unbounded"/>
					<Segment ref="ADV" minOccurs="0" maxOccurs="unbounded"/>
					<Segment ref="DTM" minOccurs="0" maxOccurs="10"/>
					<Segment ref="CTP" minOccurs="0" maxOccurs="25"/>
					<Segment ref="PAM" minOccurs="0" maxOccurs="10"/>
					<Segment ref="PO4" minOccurs="0"/>
					<Segment ref="TAX" minOccurs="0" maxOccurs="3"/>
					<Group name="LoopN9" maxOccurs="unbounded" minOccurs="0">
						<Segment ref="N9"/>
						<Segment ref="DTM" minOccurs="0" maxOccurs="unbounded"/>
						<Segment ref="MSG" minOccurs="0" maxOccurs="unbounded"/>
					</Group>
					<Group name="LoopSAC" maxOccurs="25" minOccurs="0">
						<Segment ref="SAC"/>
						<Segment ref="CUR" minOccurs="0"/>
						<Segment ref="CTP" minOccurs="0"/>
					</Group>
					<Group name="LoopQTY" maxOccurs="unbounded" minOccurs="0">
						<Segment ref="QTY"/>
						<Segment ref="SI" minOccurs="0" maxOccurs="unbounded"/>
					</Group>
					<Group name="LoopN1" maxOccurs="10" minOccurs="0">
						<Segment ref="N1"/>
						<Segment ref="N2" minOccurs="0" maxOccurs="2"/>
						<Segment ref="N3" minOccurs="0" maxOccurs="2"/>
						<Segment ref="N4" minOccurs="0"/>
						<Segment ref="NX2" minOccurs="0" maxOccurs="unbounded"/>
						<Segment ref="REF" minOccurs="0" maxOccurs="12"/>
						<Segment ref="PER" minOccurs="0" maxOccurs="3"/>
						<Segment ref="SI" minOccurs="0" maxOccurs="unbounded"/>
					</Group>
				</Group>
				<Group name="LoopAMT" maxOccurs="unbounded" minOccurs="0">
					<Segment ref="AMT"/>
					<Segment ref="REF" minOccurs="0"/>
					<Segment ref="PCT" minOccurs="0" maxOccurs="unbounded"/>
				</Group>
				<Group name="LoopLM" maxOccurs="unbounded" minOccurs="0">
					<Segment ref="LM"/>
					<Segment ref="LQ" maxOccurs="unbounded"/>
				</Group>
			</Group>
			<Group name="LoopCTT" minOccurs="0">
				<Segment ref="CTT"/>
				<Segment ref="AMT" minOccurs="0"/>
			</Group>
			<Segment ref="SE"/>
		</Group>
	</Message>
</Config>